@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

/* loading animation */

#cover-spin {
    position:fixed;
    width:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(56, 45, 45, 0.7);
    z-index:9999;
    /* display:none; */
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;
    top:40%;
    width:40px;
    height:40px;
    border-style:solid;
    border-color:#e1d7e6;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}



/* end */



body{
    background-image: linear-gradient(to right,#e1c1f1, #c56cf0);
    text-align: center;
}

a{
    text-decoration: none;
}

h1{
    color: white;
    text-transform: uppercase;
}


#createProduct{
    padding: 15px 30px;
    outline: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #b31ffd;
    margin: 10px;
    transition: .2s all ease-out;
    box-sizing: border-box;
    border: 1px solid #b31ffd;
    
}
#createProduct:hover, #createProduct:active{
   
    color: #b31ffd;
    background-color: transparent;
}

#showDetails{
    padding: 15px 30px;
    border: none;
    border: 1px solid #b31ffd;
    outline: none;
    color: #b31ffd;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    margin: 10px;
    transition: .2s all ease-out;
    
}

#showDetails:hover, #showDetails:active{
    color: white;
    background-color: #b31ffd;
    
}
#update, #delete{
    padding: 8px 15px;
    outline: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #b31ffd;
    margin: 10px;
    transition: .2s all ease-out;
    box-sizing: border-box;
    border: 1px solid #b31ffd;
}
#delete{
    border: 1px solid #b31ffd;
    color: #b31ffd;
    background-color: transparent;
}
#update:hover, #update:active{
    color: #b31ffd;
    background-color: transparent;
}
#delete:hover, #delete:active{
    color: white;
    background-color: #b31ffd;
}

#mainContainer{
    background-color: white;
   width: 95%;
   align-items: center !important;
   justify-content: center !important;
   box-shadow: 0px 0px 5px 0px #e1dce4;
   border-radius: 40px;
   margin-bottom: 20px;

}
.table{
    color: #606c76;
}

.createProductFrom{
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgb(214, 213, 213);
    border-radius: 40px;
    margin-bottom: 20px;
    padding: 50px 60px;
   
}

       
.submitButton{
    padding: 15px;
    outline: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #b31ffd;
    margin: 10px;
    transition: .2s all ease-out;
    box-sizing: border-box;
    border: 1px solid #b31ffd;
}
.submitButton:hover, .submitButton:active {
    color: #b31ffd;
    background-color: transparent;
    border: 1px solid #b31ffd;
   
}
.imgContainer{
    width: 100%;
   
}

.imgContainer img{
    width: 100%;
    object-fit: cover;
    
}

span{
    color: #5f6468;
}

h5{
    font-weight: 500;
    /* text-transform: uppercase; */
    color: #8c08ce;
    
}
